<table>
    <thead>
        <tr>
            <th><a ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
            <th>ISBN</th>
            <th></th>
        </tr>
    </thead>
    
    <tr ng-repeat="book in books | orderBy:predicate:reverse">
        <td>{{book.title}}</td>
        <td>{{book.ISBN}}</td>
        <td>
            <div>
                <a href="#/books/{{book.title}}">
                    Edit
                </a>
                <a ng-click="deleteBook(book, $event)">
                    Delete
                </a>
            </div>
        </td>
    </tr>
</table>
